.order-online-parent {
    width: 100%;
    overflow: hidden;
    margin: 10px auto 0;
    display: flex;
    padding: 10px 50px;
}

.selects-order {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.selects-order > div {
    margin: 5px 10px;
}  

.invoce-order{
    width: 50%;

    /* background-color: brown; */
}